<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/users' ? 'active' : '' %>" href="/users"
          >Users</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/admin/add-user' ? 'active' : '' %>"
          href="/admin/add-user"
          >Add User
        </a>
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/admin/users' ? 'active' : '' %>"
          href="/admin/users"
          >Admin Users
        </a>
      </li>
    </ul>
  </nav>
  <form class="d-flex">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</header>
